@charset "UTF-8";
a:focus {
  outline: none; }

.deftop-menu {
  /*background: none;
  border: none;
  width: auto !important;
  ul{
    @include clearfix;
    li{
      margin: 0px 15px 0px 0px;
      background: linear-gradient(to bottom, #FFE154, #FFB639);
      height: 35px;
      width: 150px;
      text-align: center;
      border-radius: 3px;
      a{
        float: none;
        display: block;
        text-align: center;
        @include link(#000000, #ffffff);
        span{
          font-size: 15px;
          line-height: 33px;
          font-weight: bold;
        }
        text-decoration: none;
        border: none;
      }
    }
  }*/ }
  .deftop-menu #horizontal-multilevel-menu li a.root-item {
    font-size: 12px;
    font-weight: bold; }
  .deftop-menu #horizontal-multilevel-menu li a.root-item-selected {
    font-size: 12px;
    font-weight: bold; }
  .deftop-menu #horizontal-multilevel-menu, .deftop-menu #horizontal-multilevel-menu ul {
    -webkit-border-radius: 3px;
    border-radius: 3px; }

.brands-vertical li {
  text-align: center; }

.location_label {
  display: none !important; }

.location_auto {
  display: none; }
  .location_auto input {
    float: left; }
  .location_auto label {
    clear: none !important;
    padding-left: 20px; }

.location_manual {
  display: none; }
  .location_manual input {
    float: left; }
  .location_manual label {
    clear: none !important;
    padding-left: 20px; }

.location_input {
  display: none; }

.newpayment h4 {
  margin-bottom: 10px; }

.newpayment .bx_element {
  position: relative;
  margin-bottom: 20px; }

.newpayment input[type="radio"] {
  position: absolute;
  top: 20px;
  left: 0px; }

.newpayment .bx_logotype {
  padding-left: 25px; }

.newpayment .bx_description {
  padding-left: 25px; }
  .newpayment .bx_description p {
    margin-top: -5px; }

.webpay-info {
  color: #fff;
  padding-top: 15px; }
  .webpay-info img {
    vertical-align: middle; }
  .webpay-info h2 {
    font-family: 'Courier New';
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 20px; }
    .webpay-info h2:hover {
      color: #ccc; }
  .webpay-info h3 {
    margin-top: 5px;
    font-size: 15px; }
  .webpay-info ul {
    margin-left: 15px;
    list-style-type: disc; }
  .webpay-info ol {
    margin-left: 15px;
    list-style-type: decimal; }
  .webpay-info_item {
    margin-bottom: 15px; }
  .webpay-info a {
    color: #bcbcbc;
    text-decoration: underline; }
    .webpay-info a:visited {
      color: #bcbcbc; }
    .webpay-info a:hover {
      color: #bcbcbc; }
    .webpay-info a:active {
      color: #bcbcbc; }
    .webpay-info a:focus {
      color: #bcbcbc; }
    .webpay-info a:hover {
      text-decoration: none; }
  .webpay-info_spoiler {
    display: none; }

.webpay-contacts {
  display: inline-block;
  /* Прячем стили от IE для mac \*/
  display: block;
  margin-bottom: 15px; }
  .webpay-contacts:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden; }
  .webpay-contacts_item {
    float: left;
    width: 50%; }

.onorder {
  position: absolute;
  top: 8px;
  left: 8px;
  color: #fff;
  background-color: #FB823F;
  padding: 0 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  display: none;
  z-index: 1000; }
  .bx_catalog_item:hover .onorder {
    display: block; }

.ltCatPart .news {
  padding-bottom: 15px;
  border-bottom: 1px solid #cbcbcb;
  width: 250px; }

.news_image {
  display: block;
  width: 250px;
  margin-bottom: 10px; }
  .news_image img {
    width: 100%;
    height: auto; }

.icon {
  left: -2px;
  z-index: 1000; }

#ocb-form-click .ocb-form-field {
  position: relative; }
  #ocb-form-click .ocb-form-field:before {
    content: "+375";
    position: absolute;
    top: 35px;
    left: -35px; }
