.deftop-menu{
  &_list2{
    display: none;
    width: 170px!important;
  }
  &_item2{

  }
  &_link2{
    padding: 7px 0 0 10px!important;
  }
  #horizontal-multilevel-menu, #horizontal-multilevel-menu ul{
    background: #fff;
    a{
      @include link(#BC262C, #fff);
      padding: 7px 31px;
    }
    a.root-item{
      @include link(#BC262C, #fff);
      padding: 7px 31px;
      @include m980{
        @include link(#fff, #fff);
      }
    }
    a.root-item-selected{
      @include link(#fff, #fff);
      padding: 7px 31px;
    }
  }



  @include m980{
    background: #bc262c url("images/header_menu_bg.gif") repeat-x scroll 0 0;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1600;
  }
  #horizontal-multilevel-menu{
    @include m980{
      display: none;
      background: none;
      .deftop-menu_toggle__on &{
        display: block;
      }
    }
  }
  #horizontal-multilevel-menu li a.root-item{
    font-size: 12px;
    font-weight: bold;
  }
  #horizontal-multilevel-menu li a.root-item-selected{
    font-size: 12px;
    font-weight: bold;
  }
  #horizontal-multilevel-menu, #horizontal-multilevel-menu ul{
    border-radius: 3px;
  }
  li{
    &:first-child{
      a{

      }
    }
  }
  @include m980{
    #horizontal-multilevel-menu{
      padding-bottom: 10px;
      li{
        float: none;
        display: block;
      }
    } 
  }
  &_toggle{
    box-sizing: border-box;
    height: 53px;
    padding: 16px 0 0 15px;
    //background-color: #0066cb;
    position: relative;
    cursor: pointer;
    display: none;
    @include m980{
      display: block;
    }   
  }
  &_text{
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    font-weight: bold;
  }
  &_switch{
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    right: 15px;
    top: 25px;
    background-color: #fff; 
    .deftop-menu_toggle__on &{
      background-color: transparent;
    }
  }
  &_switch:before{
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    background-color: #fff;
    height: 3px;
    width: 100%;
    .deftop-menu_toggle__on &{
      transform: rotate(45deg) translate(7px, 7px);
    }
  }
  &_switch:after{
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background-color: #fff;
    height: 3px;
    width: 100%;
    .deftop-menu_toggle__on &{
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
  
  &_switch:after, &_switch:before{
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }
}