.element-info{
	@include clearfix;
	margin: -15px 0 30px;
	&_item{
		float: left;
		width: 33.33%;
		text-align: center;
		color: #4CBCDD;
		font-weight: bold;
		font-size: 14px;
		position: relative;
		font-family: helios;
		font-size: 17px;
		line-height: 17px;
		text-transform: uppercase;
		color: #387c91;
		@include m980{
			font-size: 12px;
			float: none;
			display: block;
			width: 300px;
			margin: 0 auto 25px auto;
			text-align: left;
		}
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: -14px;
			width: 56px;
			height: 43px;
		}
		&__1{
			padding-left: 40px;
			@include m980{
				padding-left: 60px;
			}
			&:before{
				background: transparent url('images/element-info-1.png') left top no-repeat;
				left: 15px;
				@include m980{
					left: 0;
				}
			}
		}
		&__2{
			padding-left: 20px;
			@include m980{
				padding-left: 60px;
			}
			&:before{
				background: transparent url('images/element-info-2.png') left top no-repeat;
				left: 30px;
				@include m980{
					left: 0;
				}
			}
		}
		&__3{
			padding-left: 20px;
			@include m980{
				padding-left: 60px;
			}
			&:before{
				background: transparent url('images/element-info-3.png') left top no-repeat;
				left: -7px;
				@include m980{
					left: 0;
				}
			}
		}
		span{
			display: inline-block;
			padding-bottom: 2px;
			border-bottom: 1px solid #387c91;
			@include m980{
				padding-bottom: 0;
			}
		}
	}
	&_black{
		color: #000;
	}
}