.location{
  &_label{
    display: none!important;;
  }
  &_auto{
    display: none;
    input{
      float: left;
    }
    label{
      clear: none!important;
      //overflow: hidden;
      padding-left: 20px;
    }
  }
  &_manual{
    display: none;
    input{
      float: left;
    }
    label{
      clear: none!important;
      //overflow: hidden;
      padding-left: 20px;
    }
  }
  &_input{
    display: none;
  }
}