.phone2{
	float: left;
	padding: 2px 20px 0;
	@include clearfix;
	
	&_hide{
		display: none;
	}
	&_left{
		float: left;
		&>span{
			display: block;
			height: 21px;
			line-height: 21px;
			color: #000;
			font-weight: bold;
			font-family: 'Comic Sans MS', cursive;
			font-size: 19px;
		}
	}
	&_link{
		display: inline-block;
		height: 21px;
		line-height: 21px;
		font-weight: bold;
		cursor: pointer;
		font-size: 14px;
		line-height: 24px;
		text-decoration: underline;
		position: relative;
		top: -3px;
	}
	@include m980{
		display: none;
	}
}