.webpay-info{
	color: #fff;
	padding-top: 15px;
	img{
		vertical-align: middle;
	}
	h2{
		font-family: 'Courier New';
		margin-bottom: 5px;
		cursor: pointer;
		&:hover{
			color: #ccc;
		}
	}
	h3{
		margin-top: 5px;
	}
	ul{
		margin-left: 15px;
		list-style-type: disc;
	}
	ol{
		margin-left: 15px;
		list-style-type: decimal;
	}
	&_item{
		margin-bottom: 15px;
	}
	a{
		@include link(#bcbcbc, #bcbcbc);
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	&_spoiler{
		display: none;
	}
}